.section {
    background-color: rgb(0, 0, 0.11);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn 1s ease;
    position: relative;
}

.modal {
    height: 50%;
    width: 50%;

}
.button-card:hover {
    color: red;
}
.home-card {
    width: 325px;
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    display: flex;
 
   align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    

}
    flex-direction:row; 
@media screen and (min-width: 1100px) {
    .card-container{
        
    }
    
    .home-card {
        width: 90%;
        margin-bottom: 2rem;
    }
}
/* Attach fadeIn to whatever HTML/CSS elements & classes it should operate on */
@keyframes fadeIn { /* fadeIn is the name of the animation */
    from { /* how the animation starts */
      opacity: 0;
      transform: scale(0.1);
      bottom: -500px;
      background: red;
      
    }

    to { /* how the animation ends */
      opacity: 1;
      transform: scale(1);
      bottom: 0;
      background:black;
     
    }
  }display: fl


flex;
        flex-direction: row;
        flex-rapwrwrap: nowrap;